.background-image{
    background-image: url('https://livedemo00.template-help.com/wt_prod-27536/images/bg-image-01.jpg');
    background-size: cover;
    min-height: 80vh;
    background-position:  center center;
    .Fast-hading{
        padding-top: 150px;
    }
}
