.yellow-background{
    background-image: url('https://livedemo00.template-help.com/wt_prod-27536/images/bg-image-03.jpg');
    background-size: cover;
    min-height: 60vh;
    h1{
        padding-top: 100px;
    }
}
.footer{
    background-color: rgb(229, 231, 231);
    min-height: 70vh;
    background-size: cover;
}